* {
	--UDG-Red: rgb(255, 67, 46);
	--UDG-Gray: rgb(37, 46, 52);
	--White: rgb(255, 255, 255);
}

body {
	margin: 0 auto;
	display: grid;
	grid-template-rows: 150px 1080px 1000px 700px;
	grid-template-columns: 100%;
	background-color: rgb(255, 255, 255);

	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0.6px;
	line-height: 1.52380952;
}

nav {
	grid-row: 1/2;
}

header {
	grid-row: 2/3;
	min-width: 1000px; /* muss noch genau befiniert werden */
}

main {
	grid-column: 3/4;
}

footer {
	grid-row: 4/5;
}

a {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

ul {
	list-style: none;
}
