#footer-container {
	grid-column: 4/5;
	height: 620px;
	background-color: rgb(37, 46, 52);
	font-size: 16px;
}

#footer-logo {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

#footer-logo > img {
	width: 200px;
	height: auto;
}

#footer-list {
	display: flex;
	justify-content: center;
}

#footer-list > ul {
	margin-top: 80px;
}

#footer-list > ul > li {
	font-weight: 700;
}

#footer-list > ul > ul {
	padding-top: 20px;
}

#footer-list > ul > ul > li {
	color: gray;
	padding-top: 20px;
	margin-left: -15px;
}

#footer-list > ul > ul > li > a {
	color: gray;
	font-weight: 500;
	text-transform: none;
}

#footer-list > ul > ul > li > a:hover {
	color: white;
}

#footer-tag {
	margin-top: 50px;
	color: gray;
	display: flex;
	justify-content: center;
}
