.content-block {
	height: auto;
	width: 100%;
	color: var(--Black);
	margin-bottom: 100px;
}

.content-block > div > p,
h4 {
	padding: 20px;
}

h4 {
	padding-bottom: 0;
}

.blog-placeholder-img {
	width: auto;
	height: 200px;
	display: block;
	margin: 20px auto 20px auto;
}

.blog-placeholder-text {
	color: rgb(101, 101, 101);
}

.kontakt-placeholder-person {
	width: 200px;
	height: 200px;
	display: block;
	margin: 20px auto 20px auto;
}

.e-mail {
	color: var(--UDG-Red);
}
