nav {
	display: grid;
	grid-template-columns: 30% 60% 10%;
	grid-template-rows: 80px;
	z-index: 2;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0.6) 100%);
	position: fixed;
	top: 0;
	width: 100%;
	transition: ease-out 0.2s;
}

.scrolled {
	background: none;
	background-color: var(--White);
	border-bottom: 5px solid;
	border-color: rgba(0, 0, 0, 0.034);
}

.scrolled > div > ul > li > a {
	color: var(--Black);
}

#navbar > div {
	display: flex;
	align-items: center;
}

#navbar > div > a {
	display: flex;
	align-items: center;
}

#nav-container-logo {
	grid-column: 1/2;
}

#nav-container-navigation {
	grid-column: 2/3;
}

#nav-container-hamburger {
	grid-column: 3/4;
}

.logo-long {
	width: 200px;
	height: auto;
	padding: 10px;
	margin-left: 80px;
	position: fixed;
}

#nav-container-navigation > ul {
	list-style: none;
	display: flex;
}

li {
	margin-right: 120px;
}

li > a {
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}

.scrolled > div > ul > li > a:hover {
	transition-duration: 0.2s;
	color: var(--UDG-Red);
}

.logo-hamburger {
	margin-top: 20px;
	margin-left: 40px;
}
